.header {
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
}

.header__navbar-item {
    margin: 0 8px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 300;
    text-decoration: none;
}

.header__navbar-item--strong {
    font-weight: 400;
}

